.content-body {
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(73, 83, 73);
    color: beige;
}